
extends daily-head

mixin writePart(part)
	div.officetext.has-text-left
		if(part.title)
			h3(class = "has-text-left #{season}")=part.title
		!=part.text
	hr
		

block content
	div.modal
		div.modal-background
		div.modal-content
			div.box#explanation
		button.modal-close
		
	div.container.padded
		
		div(class="circles #{season}")
		
		div.columns.is-centered
		
			div.column.is-narrow
				
				div.has-text-centered
					div#heading(office="#{title}")
						a(href="/cg/")
							h2(class="#{season}") #{title} | #{date}
						h3=seasonTitle
						br
					div#content
						for part in parts
							+writePart(part)
				
					a(href="/cg/" class="#{season}") home
							
block scripts
	script(src='/js/date-fns.min.js')
	script(src='/js/cg-client.js')
	
	