
-description='Daily 3-5 minute prayers, new every day'

html
	head
		title=title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		meta(name='mobile-web-app-capable', content='yes')
		meta(name='application-name', content=title)
		meta(name='theme-color', content='#fff')
		meta(name='description', content=description)
		
		//meta(name='', content='')
		
		meta(name='twitter:card', content='summary')
		meta(name='twitter:title', content=title)
		meta(name='twitter:image', content='https://prayer.infopanel.org/images/favicon.png')
		meta(name='twitter:description', content=description)
		
		meta(name='og:url', content='https://prayer.infopanel.org')
		meta(name='og:type', content='website')
		meta(name='og:description', content=description)
		meta(name='og:title', content=title)
		meta(name='og:image', content='https://prayer.infopanel.org/images/favicon.png')
		meta(name='og:image:height', content='256')
		meta(name='og:image:width', content='256')
		
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-title', content=title)

		link(rel="shortcut icon", href="/images/favicon.png")
		link(rel="manifest", href="/js/manifest.json")
		link(rel='stylesheet', href='/stylesheets/bulma.min.css')
		link(rel='stylesheet', href='/stylesheets/daily.min.css')
		link(rel='stylesheet', href='/stylesheets/seasons.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
	body
		block content
		block scripts

