
extends daily-head

block content
	div.modal
		div.modal-background
		div.modal-content
			div.box#explanation
		button.modal-close
		
	div.container.padded
		div.columns.is-centered.is-mobile
			div.column.is-narrow.has-text-centered
				h1(class="#{season}") Liturgy of the Hours
				h3#date
		div.columns.is-centered.is-mobile
			div.column.is-10-mobile.is-4-tablet.is-4-desktop#cache-status(class="#{season}")
				progress.progress( value="0" max="100" )
		div.columns.is-centered.is-mobile
			div.column.is-10-mobile.is-4-tablet.is-4-desktop(season = '#{season}')#buttonList
		div.columns.is-centered.is-mobile
			a#version(class="#{season}" onclick="toggleVersion()") lite
			&nbsp;|&nbsp; 
			a#about(class="#{season}" onclick="showExplanation()") about
			br
			br

				
block scripts
	script(src='/js/date-fns.min.js')
	script(src='/js/home-client.js')