extends daily-head

mixin partDisplay(part)
	div.has-text-left.box
		h3 #{part.title}
		div #{part.subtitle}
		div.officetext
			!=part.text
		span.has-text-grey.is-size-7 (#{part.source} #{part.season})
		br
		br
		div
			+taglist(part._id, part.times, taglist.times, 'times')
			+taglist(part._id, part.themes, taglist.themes, 'themes')

mixin taglist(id, tags, taglist, category)
	div.buttons.tag-buttons
		-for option in taglist
			-if(tags && tags.length && tags.indexOf(option)!=-1)
				button.button.is-small.is-dark(data-id='#{id}' data-category="#{category}" onclick="updateTag(event)")=option
			-else
				button.button.is-small(data-id='#{id}' data-category="#{category}" onclick="updateTag(event)")=option

block content
	div.container.padded
		div.columns.is-centered
			div.column.is-narrow
				div.has-text-centered
					a(href="/list")
						h2 #{title} (#{parts.length})

					for part in parts
						+partDisplay(part)
block scripts
	script(src='/js/tagging.js')