
extends daily-head

mixin taglist(part, tags)
	div.tags.column.is-one-third
		input.input.taginput.is-small(type='tags'  class='#{tags}' placeholder='#{tags}')
		span(class="tagbox #{tags}")
			if(part[tags])
				-for tag in part[tags]
					span.tag.is-info #{tag}
						button.is-small.delete
		

block content
	div.container.padded
		
		div.columns.is-centered
		
			div.column.is-two-thirds
				
				div.has-text-centered
					
					a(href="/list")
						h2 #{title}
					br

					for part in parts
						div.has-text-left.notification(dataID='#{part.id}')
							span.buttons.pull-right
								a.editor.button.is-info(href='/edit/#{part.id}')
									span.icon.is-small
										i.fa.fa-edit
								a.saver.button.is-warning
									span.icon.is-small
										i.fa.fa-save
								
							h3 Title: #{part.title}
							div Subtitle: #{part.subtitle}
							div Source: #{part.source}
							div.columns
								+taglist(part, 'season')
								+taglist(part, 'times')
								+taglist(part, 'themes')
									
							div.officetext
								!=part.text
						br
block scripts
	script(src='/js/jquery.min.js')
	script(src='/js/tagging.js')