extends blog-head

mixin post (title, author, time, content, tags, header_image)
	a(href='/posts/#{title}-#{time}')
		div.overlay-container
			img.overlay-image(src="/images/#{header_image}")
			div.overlay
			div.overlay-title
				h1.title.is-1.has-text-light #{title}
			div.overlay-date
				p.has-text-light #{time}
			div.overlay-info
				div.tags
					for tag in tags
						span.tag.is-light #{tag}
		div.blog-content
			//!=content

				
block content
	div.container.justpadding.is-centered.w48
		br
		+post("two hour commute", "admin", "8.17.18", "<Strong>to the girl crying on the blue line</strong><br> 	Why are you crying?<br> 	I imagine it's  because of a boy<br> 	who hurt you<br> 	was he interested last night? and<br> 	not so much this morning?<br> 	I'm sorry<br> 	I know it's not my fault, but <br> 	I'm still sorry<br> 	because he might have been a boy like me<br> 	might have been me<br> 	unkind and selfish.<br> 	I hope it was a good cry<br> 	for whatever reason you were crying.<br> 	I hope the pain and grief was lifted<br> 	out of you<br> 	and dripped on the dirty seats of the blue line<br> 	I hope the makeup you put on afterwards<br> 	to make your face less red<br> 	sinks in<br> 	and your soul is less inflamed<br> 	so that you can heal<br> 	or rather be healed.<br> 	<br> <strong>to the the man on the tracks between montrose and california</strong><br> 	Why were you on the tracks?<br> 	You made me late to work.<br> 	You made thousands of people late to work.<br> 	On a friday. Why not a monday?<br> 	Why did you decide to block the trains today of all days?<br> 	You have inconvenienced me, from getting to work<br> 	where I really didn't want to go in the first place<br> 	but it is inconvenient<br> 	and now I must go anyway<br> 	and work harder, faster.<br> 	you have inconvenienced me.<br> 	And you didn't care.<br> 	What pain in your life was so great<br> 	that you didn't care?<br> 	I hope you were just being foolish<br> 	maybe drunk.<br> 	I hope you didn't try to hurt yourself.<br> 	People shouldn't be on train tracks<br> 	I hope you know that now<br> 	I hope you're safe. I hope you've learned a lesson<br> 	that you matter in the world, even as an inconvenience<br> 	that we care about you enough to stop all the trains <br> 	to keep you safe.<br> 	I hope you are safe. I hope someone is helping you.<br> 	I hope you don't do this ever again.", ['thoughts'], "train2.jpg")
				
block scripts
	script(src='/js/blog.js')